[Unit]
Description=Minecraft Server: %i
After=network.target

[Service]
User=minecraft
Group=minecraft

Restart=always

WorkingDirectory=/opt/minecraft/current/world
ExecStartPre=/bin/sh /opt/minecraft/restore.sh
ExecStart=/usr/bin/screen -DmS mc /usr/bin/java -Xmx2G -jar ../minecraft_server.jar nogui

ExecStop=/usr/bin/screen -p 0 -S mc -X eval 'stuff "say SERVER SHUTTING DOWN IN 15 SECONDS..."\015'
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -p 0 -S mc -X eval 'stuff "say SERVER SHUTTING DOWN IN 10 SECONDS..."\015'
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -p 0 -S mc -X eval 'stuff "say SERVER SHUTTING DOWN IN 5 SECONDS..."\015'
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -p 0 -S mc -X eval 'stuff "save-all"\015'
ExecStop=/usr/bin/screen -p 0 -S mc -X eval 'stuff "stop"\015'
ExecStopPost=/bin/sh /opt/minecraft/backup.sh

[Install]
WantedBy=multi-user.target
